# Note: Be sure to double check if your Snowflake account if you already have one,
 up and running your wanting to test against as many of these fields might already exist.
 Otherwise be sure to create and keep track of that the required fields are as you build out your 
 Snowflake project.


SNOWFLAKE_TEST_ACCOUNT=<your Snowflake account's unique identifier>
SNOWFLAKE_TEST_ALT_DATABASE=<name of a seoncdary database to test against (will need to make this yourself) e.g. DBT_SF_TEST_ALT>
SNOWFLAKE_TEST_ALT_WAREHOUSE=<name of secondary warehouse (you will need to create) e.g. DBT_SF_TESTING_ALT>
SNOWFLAKE_TEST_DATABASE=<name of database you wish to test against e.g. DBT_SF_TEST>
# Note: The following `*_OAUTH_*` variables must be supplied tokens if you employ the `OAUTH` authentication method for your Snowflake account.
SNOWFLAKE_TEST_OAUTH_CLIENT_ID=<client ID of the OAuth client integration>
SNOWFLAKE_TEST_OAUTH_CLIENT_SECRET=client secret of your OAuth client id>
SNOWFLAKE_TEST_OAUTH_REFRESH_TOKEN=TRUE
SNOWFLAKE_TEST_PASSWORD=<password used for your database user>
SNOWFLAKE_TEST_QUOTED_DATABASE=<Name of a database you create. e.g 1-test-database>
SNOWFLAKE_TEST_USER=<username for your test database user> 
SNOWFLAKE_TEST_WAREHOUSE=<warehouse_name e.g. DBT_SF_TESTING>