SNOWFLAKE_TEST_ACCOUNT= 
SNOWFLAKE_TEST_ALT_DATABASE= <database_name_in_alt_warehouse>
SNOWFLAKE_TEST_ALT_WAREHOUSE= <alt_warehouse_name
SNOWFLAKE_TEST_DATABASE= <database_name>
SNOWFLAKE_TEST_OAUTH_CLIENT_ID=
SNOWFLAKE_TEST_OAUTH_CLIENT_SECRET=
SNOWFLAKE_TEST_OAUTH_REFRESH_TOKEN=
SNOWFLAKE_TEST_PASSWORD=
SNOWFLAKE_TEST_QUOTED_DATABASE=
SNOWFLAKE_TEST_USER=
SNOWFLAKE_TEST_WAREHOUSE= <warehouse_name>