SNOWFLAKE_TEST_ACCOUNT=<account>
SNOWFLAKE_TEST_ALT_DATABASE=<database_name_in_alt_warehouse>
SNOWFLAKE_TEST_ALT_WAREHOUSE=<alt_warehouse_name
SNOWFLAKE_TEST_DATABASE=<database_name>
SNOWFLAKE_TEST_OAUTH_CLIENT_ID=<client_id_of_integration
SNOWFLAKE_TEST_OAUTH_CLIENT_SECRET=<client_secret_for_integration>
SNOWFLAKE_TEST_OAUTH_REFRESH_TOKEN=TRUE
SNOWFLAKE_TEST_PASSWORD=<password>
SNOWFLAKE_TEST_QUOTED_DATABASE=
SNOWFLAKE_TEST_USER=<username>
SNOWFLAKE_TEST_WAREHOUSE=<warehouse_name>